name: Android CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Build APK
        run: ./gradlew assembleDebug  # 替换为您使用的 Gradle 任务

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          tag_name: v1.0.0  # 替换为您的版本标签
          release_name: Release v1.0.0  # 替换为您的发布名称
          body: |
            Release description goes here.  # 替换为您的发布描述
            
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: APK
          path: app/build/outputs/apk/debug/app-debug.apk  # 替换为您的 APK 文件路径
